.container{
   display: grid;
   grid-template-columns: 100px 100px 100px; 
  justify-content: center;
     gap: 10px;
}
.grid-item{
    border: 2px solid #A6DAFB;
  
}
.X{
    color: red;
    text-align: center;
    font-size: 40px;
    padding: 5px;
}
.O{
    color: blue;
    text-align: center;
    font-size: 40px;
    padding: 5px;
}
h1{
    text-align: center;
 
}